# Groq Reasoning Engine (Llama 3.3)
GROQ_API_KEY = ""

# Qdrant Vector DB Settings
QDRANT_API_KEY = ""
QDRANT_CLUSTER_ENDPOINT = ""

# === Observability

# Pydantic Logfire Observability
LOGFIRE_TOKEN = ""

# LangSmith
export LANGSMITH_TRACING="true"
export LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
export LANGSMITH_API_KEY=""
export LANGSMITH_PROJECT="enterprise_rag"

# Google Cloud Settings
PROJECT_ID = ""
LOCATION = "us-central1"
GCP_DOC_AI_LOCATION = "us"
GCP_DOC_AI_PROCESSOR_ID = ""
GCP_RAW_BUCKET = ""
GCP_PROCESSED_BUCKET = ""
VPC_CONNECTOR = ""

BACKEND_URL = ""
